<a href="https://colab.research.google.com/github/water-beetle/Python_flearning/blob/master/%232%20Pandas%EC%9D%98_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0_Series%2CDataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

#Series

In [0]:
obj = pd.Series([4,6,3,-2])

In [3]:
obj

0    4
1    6
2    3
3   -2
dtype: int64

In [4]:
obj.values

array([ 4,  6,  3, -2])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj.dtype

dtype('int64')

**series는 index를 0,1,2...가 아닌 임의의 문자를 대입할 수 있다(딕셔너리 형태로 다입가능)**

In [0]:
obj2 = pd.Series([4,7,5,-3], index=['d','b','c','a'])

In [9]:
obj

0    4
1    6
2    3
3   -2
dtype: int64

In [8]:
obj2

d    4
b    7
c    5
a   -3
dtype: int64

In [0]:
sdata = {"Char":3500, "Kil":7100, "Hay":1600, "Sang":5000}
obj3 = pd.Series(sdata)

In [12]:
obj3

Char    3500
Kil     7100
Hay     1600
Sang    5000
dtype: int64

**Series의 이름과, index를 지정해 줄 수 있다**

In [0]:
obj3.name = "Salary"
obj3.index.name = "Name"

In [14]:
obj3

Name
Char    3500
Kil     7100
Hay     1600
Sang    5000
Name: Salary, dtype: int64

#DataFrame

In [0]:
data = {"names" : ["A", "B", "C", "D"],
        "year"  : [2014, 2015, 2016, 2017],
        "points": [1.5, 1.7, 2.3, 5]}

df = pd.DataFrame(data)

In [20]:
df

  names  year  points
0     A  2014     1.5
1     B  2015     1.7
2     C  2016     2.3
3     D  2017     5.0

In [21]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
df.columns

Index(['names', 'year', 'points'], dtype='object')

In [23]:
df.values

array([['A', 2014, 1.5],
       ['B', 2015, 1.7],
       ['C', 2016, 2.3],
       ['D', 2017, 5.0]], dtype=object)

**DataFrame도 이름과, index를 지정해 줄 수 있다**

In [0]:
df.index.name = "Num"
df.columns.name = "Info"

In [26]:
df

Info names  year  points
Num
0        A  2014     1.5
1        B  2015     1.7
2        C  2016     2.3
3        D  2017     5.0

In [0]:
df2 = pd.DataFrame(data, columns=["year", "name", "points", "penalty"],
                         index = ["one", "two", "three", "four"])

In [28]:
df2

       year name  points penalty
one    2014  NaN     1.5     NaN
two    2015  NaN     1.7     NaN
three  2016  NaN     2.3     NaN
four   2017  NaN     5.0     NaN