<a href="https://colab.research.google.com/github/water-beetle/Python_flearning/blob/master/%234%20DataFrame_%EC%A1%B0%EC%9E%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.DataFrame(np.random.randn(6,4))

In [3]:
df

          0         1         2         3
0 -0.261320 -0.484210 -0.143086  2.223199
1  2.203539 -1.670082  1.246590 -2.067165
2 -0.461267  1.477985 -1.292541 -0.165198
3 -1.966513  1.458140 -1.134808  0.725042
4  0.032774 -0.599903 -0.023061 -0.887420
5 -0.344341 -2.455187  1.667007 -0.746826

In [0]:
df.columns = ["A","B","C","D"]
df.index = pd.date_range("20200210", periods = 6)

In [8]:
df.index

DatetimeIndex(['2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
               '2020-02-14', '2020-02-15'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df

                   A         B         C         D
2020-02-10 -0.261320 -0.484210 -0.143086  2.223199
2020-02-11  2.203539 -1.670082  1.246590 -2.067165
2020-02-12 -0.461267  1.477985 -1.292541 -0.165198
2020-02-13 -1.966513  1.458140 -1.134808  0.725042
2020-02-14  0.032774 -0.599903 -0.023061 -0.887420
2020-02-15 -0.344341 -2.455187  1.667007 -0.746826

In [0]:
df["F"] = [1.0, np.nan, 3.5, 6.1, np.nan, 7.0]

In [11]:
df

                   A         B         C         D    F
2020-02-10 -0.261320 -0.484210 -0.143086  2.223199  1.0
2020-02-11  2.203539 -1.670082  1.246590 -2.067165  NaN
2020-02-12 -0.461267  1.477985 -1.292541 -0.165198  3.5
2020-02-13 -1.966513  1.458140 -1.134808  0.725042  6.1
2020-02-14  0.032774 -0.599903 -0.023061 -0.887420  NaN
2020-02-15 -0.344341 -2.455187  1.667007 -0.746826  7.0

NaN이 포함된 열 삭제

In [12]:
df.dropna(how="any")

                   A         B         C         D    F
2020-02-10 -0.261320 -0.484210 -0.143086  2.223199  1.0
2020-02-12 -0.461267  1.477985 -1.292541 -0.165198  3.5
2020-02-13 -1.966513  1.458140 -1.134808  0.725042  6.1
2020-02-15 -0.344341 -2.455187  1.667007 -0.746826  7.0

모든 행의 값이 NaN일때 열 삭제

In [13]:
df.dropna(how = "all")

                   A         B         C         D    F
2020-02-10 -0.261320 -0.484210 -0.143086  2.223199  1.0
2020-02-11  2.203539 -1.670082  1.246590 -2.067165  NaN
2020-02-12 -0.461267  1.477985 -1.292541 -0.165198  3.5
2020-02-13 -1.966513  1.458140 -1.134808  0.725042  6.1
2020-02-14  0.032774 -0.599903 -0.023061 -0.887420  NaN
2020-02-15 -0.344341 -2.455187  1.667007 -0.746826  7.0

NaN을 실제 수치값으로 대체

In [14]:
df.fillna(value=5.0)

                   A         B         C         D    F
2020-02-10 -0.261320 -0.484210 -0.143086  2.223199  1.0
2020-02-11  2.203539 -1.670082  1.246590 -2.067165  5.0
2020-02-12 -0.461267  1.477985 -1.292541 -0.165198  3.5
2020-02-13 -1.966513  1.458140 -1.134808  0.725042  6.1
2020-02-14  0.032774 -0.599903 -0.023061 -0.887420  5.0
2020-02-15 -0.344341 -2.455187  1.667007 -0.746826  7.0

In [16]:
df.isnull()

                A      B      C      D      F
2020-02-10  False  False  False  False  False
2020-02-11  False  False  False  False   True
2020-02-12  False  False  False  False  False
2020-02-13  False  False  False  False  False
2020-02-14  False  False  False  False   True
2020-02-15  False  False  False  False  False

In [18]:
df.loc[df.isnull()["F"], :]

                   A         B         C         D   F
2020-02-11  2.203539 -1.670082  1.246590 -2.067165 NaN
2020-02-14  0.032774 -0.599903 -0.023061 -0.887420 NaN

In [19]:
df.drop(pd.to_datetime("20200210"))

                   A         B         C         D    F
2020-02-11  2.203539 -1.670082  1.246590 -2.067165  NaN
2020-02-12 -0.461267  1.477985 -1.292541 -0.165198  3.5
2020-02-13 -1.966513  1.458140 -1.134808  0.725042  6.1
2020-02-14  0.032774 -0.599903 -0.023061 -0.887420  NaN
2020-02-15 -0.344341 -2.455187  1.667007 -0.746826  7.0

In [23]:
#열삭제는 axis=1 추가
df.drop("F", axis=1)

                   A         B         C         D
2020-02-10 -0.261320 -0.484210 -0.143086  2.223199
2020-02-11  2.203539 -1.670082  1.246590 -2.067165
2020-02-12 -0.461267  1.477985 -1.292541 -0.165198
2020-02-13 -1.966513  1.458140 -1.134808  0.725042
2020-02-14  0.032774 -0.599903 -0.023061 -0.887420
2020-02-15 -0.344341 -2.455187  1.667007 -0.746826