<a href="https://colab.research.google.com/github/water-beetle/Python_flearning/blob/master/%235%20DataFrame_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%EC%9A%A9_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
data = [[1.4, np.nan],
        [7.1, -4.5],
        [np.nan, np.nan],
        [0.75, -1.3]]
df = pd.DataFrame(data, columns=["one", "two"], index=["a","b","c","d"])

In [8]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [9]:
df.sum(axis = 0)

one    9.25
two   -5.80
dtype: float64

In [10]:
df.sum(axis = 1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [12]:
df["one"].sum()

9.25

평균 - .mean, 분산 - .var

In [14]:
#skipna - NaN이 하나라도 포함되면 NaN 출력
df.mean(axis=1, skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [0]:
df2 = pd.DataFrame(np.random.randn(6,4),
                   columns=["A","B","C","D"],
                   index = pd.date_range("20200210", periods = 6))

In [16]:
df2

                   A         B         C         D
2020-02-10 -0.173861  0.476974  0.203108  1.323414
2020-02-11  1.576960  1.204783  0.290009 -1.839856
2020-02-12  0.571868  0.083589  0.102691 -0.475955
2020-02-13 -0.479030  3.251089  0.966400  0.215017
2020-02-14  0.437326 -1.424738 -0.374033 -0.213729
2020-02-15  0.256795  0.257277 -0.540296  2.112920

**공분산, 상관계수란 - https://m.blog.naver.com/PostView.nhn?blogId=lodastatin&logNo=80116178535&proxyReferer=https%3A%2F%2Fwww.google.com%2F 참고**

상관계수 계산

In [17]:
df2["A"].corr(df2["B"])

-0.30167710582267254

공분산 계산

In [18]:
df2["B"].cov(df2["C"])

0.7149989300638528

In [19]:
df2.corr()

          A         B         C         D
A  1.000000 -0.301677 -0.273671 -0.699324
B -0.301677  1.000000  0.866753 -0.074261
C -0.273671  0.866753  1.000000 -0.345629
D -0.699324 -0.074261 -0.345629  1.000000

In [20]:
df2.cov()

          A         B         C         D
A  0.506268 -0.330904 -0.104198 -0.693401
B -0.330904  2.376509  0.714999 -0.159532
C -0.104198  0.714999  0.286339 -0.257731
D -0.693401 -0.159532 -0.257731  1.941925

#정렬

In [0]:
dates = df2.index
random_dates = np.random.permutation(dates)
df2 = df2.reindex(index=random_dates, columns=["D","B","C","A"])

In [22]:
df2

                   D         B         C         A
2020-02-13  0.215017  3.251089  0.966400 -0.479030
2020-02-11 -1.839856  1.204783  0.290009  1.576960
2020-02-15  2.112920  0.257277 -0.540296  0.256795
2020-02-14 -0.213729 -1.424738 -0.374033  0.437326
2020-02-12 -0.475955  0.083589  0.102691  0.571868
2020-02-10  1.323414  0.476974  0.203108 -0.173861

**오름차순 정렬**

In [24]:
df2.sort_index(axis=0)

                   D         B         C         A
2020-02-10  1.323414  0.476974  0.203108 -0.173861
2020-02-11 -1.839856  1.204783  0.290009  1.576960
2020-02-12 -0.475955  0.083589  0.102691  0.571868
2020-02-13  0.215017  3.251089  0.966400 -0.479030
2020-02-14 -0.213729 -1.424738 -0.374033  0.437326
2020-02-15  2.112920  0.257277 -0.540296  0.256795

In [25]:
df2.sort_index(axis=1)

                   A         B         C         D
2020-02-13 -0.479030  3.251089  0.966400  0.215017
2020-02-11  1.576960  1.204783  0.290009 -1.839856
2020-02-15  0.256795  0.257277 -0.540296  2.112920
2020-02-14  0.437326 -1.424738 -0.374033 -0.213729
2020-02-12  0.571868  0.083589  0.102691 -0.475955
2020-02-10 -0.173861  0.476974  0.203108  1.323414

**내림차순 정렬**

In [26]:
df2.sort_index(axis=0, ascending=False)

                   D         B         C         A
2020-02-15  2.112920  0.257277 -0.540296  0.256795
2020-02-14 -0.213729 -1.424738 -0.374033  0.437326
2020-02-13  0.215017  3.251089  0.966400 -0.479030
2020-02-12 -0.475955  0.083589  0.102691  0.571868
2020-02-11 -1.839856  1.204783  0.290009  1.576960
2020-02-10  1.323414  0.476974  0.203108 -0.173861

**값 기준 정렬**

In [27]:
df2.sort_values(by="D")

                   D         B         C         A
2020-02-11 -1.839856  1.204783  0.290009  1.576960
2020-02-12 -0.475955  0.083589  0.102691  0.571868
2020-02-14 -0.213729 -1.424738 -0.374033  0.437326
2020-02-13  0.215017  3.251089  0.966400 -0.479030
2020-02-10  1.323414  0.476974  0.203108 -0.173861
2020-02-15  2.112920  0.257277 -0.540296  0.256795

In [28]:
df2.sort_values(by="B", ascending="False")

                   D         B         C         A
2020-02-14 -0.213729 -1.424738 -0.374033  0.437326
2020-02-12 -0.475955  0.083589  0.102691  0.571868
2020-02-15  2.112920  0.257277 -0.540296  0.256795
2020-02-10  1.323414  0.476974  0.203108 -0.173861
2020-02-11 -1.839856  1.204783  0.290009  1.576960
2020-02-13  0.215017  3.251089  0.966400 -0.479030

In [0]:
df2["E"] = np.random.randint(0,6, size=6)
df2["F"] = ["alpha", "beta", "gamma", "gamma", "alpha", "gamma"]

In [30]:
df2

                   D         B         C         A  E      F
2020-02-13  0.215017  3.251089  0.966400 -0.479030  4  alpha
2020-02-11 -1.839856  1.204783  0.290009  1.576960  4   beta
2020-02-15  2.112920  0.257277 -0.540296  0.256795  5  gamma
2020-02-14 -0.213729 -1.424738 -0.374033  0.437326  1  gamma
2020-02-12 -0.475955  0.083589  0.102691  0.571868  1  alpha
2020-02-10  1.323414  0.476974  0.203108 -0.173861  1  gamma

In [31]:
df2.sort_values(by=["E", "F"])

                   D         B         C         A  E      F
2020-02-12 -0.475955  0.083589  0.102691  0.571868  1  alpha
2020-02-14 -0.213729 -1.424738 -0.374033  0.437326  1  gamma
2020-02-10  1.323414  0.476974  0.203108 -0.173861  1  gamma
2020-02-13  0.215017  3.251089  0.966400 -0.479030  4  alpha
2020-02-11 -1.839856  1.204783  0.290009  1.576960  4   beta
2020-02-15  2.112920  0.257277 -0.540296  0.256795  5  gamma

In [32]:
df2.sort_values(by=["F","E"])

                   D         B         C         A  E      F
2020-02-12 -0.475955  0.083589  0.102691  0.571868  1  alpha
2020-02-13  0.215017  3.251089  0.966400 -0.479030  4  alpha
2020-02-11 -1.839856  1.204783  0.290009  1.576960  4   beta
2020-02-14 -0.213729 -1.424738 -0.374033  0.437326  1  gamma
2020-02-10  1.323414  0.476974  0.203108 -0.173861  1  gamma
2020-02-15  2.112920  0.257277 -0.540296  0.256795  5  gamma

In [33]:
df2["F"].unique()

array(['alpha', 'beta', 'gamma'], dtype=object)

In [34]:
df2["F"].value_counts()

gamma    3
alpha    2
beta     1
Name: F, dtype: int64

In [35]:
df2["F"].isin(["alpha", "beta"])

2020-02-13     True
2020-02-11     True
2020-02-15    False
2020-02-14    False
2020-02-12     True
2020-02-10    False
Name: F, dtype: bool

In [36]:
df2.loc[df2["F"].isin(["alpha","beta"]), :]

                   D         B         C         A  E      F
2020-02-13  0.215017  3.251089  0.966400 -0.479030  4  alpha
2020-02-11 -1.839856  1.204783  0.290009  1.576960  4   beta
2020-02-12 -0.475955  0.083589  0.102691  0.571868  1  alpha

**사용자 정의 함수**

In [0]:
df3 = pd.DataFrame(np.random.randn(4,3), columns=["b","d","e"],
                   index = ["Seoul", "Incheon", "Busan", "Daegu"])

In [38]:
df3

                b         d         e
Seoul    1.132815  1.260421 -1.514860
Incheon  0.285691 -0.051045  0.673309
Busan    0.265822 -1.952483  0.541941
Daegu   -0.054966  0.675982 -0.744401

In [0]:
func = lambda x: x.max()-x.min()

In [40]:
df3.apply(func, axis=0)

b    1.187781
d    3.212904
e    2.188169
dtype: float64

In [43]:
df3.apply(func, axis=1)

Seoul      2.775281
Incheon    0.724354
Busan      2.494424
Daegu      1.420382
dtype: float64