<a href="https://colab.research.google.com/github/water-beetle/Python_flearning/blob/master/%236_Lending_Club_Loan_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%85%8B_%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/gdrive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive/

In [8]:
df = pd.read_csv("./gdrive/My Drive/Colab_Notebooks/Python_flearning/Dataset/loan.csv", sep=",")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df.shape

(887379, 74)

In [13]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [0]:
df2 = df[["loan_amnt", "loan_status", "grade", "int_rate", "term"]]

In [16]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term
0     5000.0   Fully Paid     B     10.65   36 months
1     2500.0  Charged Off     C     15.27   60 months
2     2400.0   Fully Paid     C     15.96   36 months
3    10000.0   Fully Paid     C     13.49   36 months
4     3000.0      Current     B     12.69   60 months

In [17]:
df2.tail()

        loan_amnt loan_status grade  int_rate        term
887374    10000.0     Current     B     11.99   36 months
887375    24000.0     Current     B     11.99   36 months
887376    13000.0     Current     D     15.99   60 months
887377    12000.0     Current     E     19.99   60 months
887378    20000.0     Current     B     11.99   36 months

In [18]:
df["loan_status"].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'],
      dtype=object)

In [19]:
  df2.shape

(887379, 5)

In [0]:
df2 = df2.dropna()

In [21]:
df2.shape

(887379, 5)

In [0]:
term_to_loan_amnt_dict = {}
uniq_terms = df2["term"].unique()

In [0]:
for term in uniq_terms:
  loan_amt_sum = df2.loc[df2["term"] == term, "loan_amnt"].sum()
  term_to_loan_amnt_dict[term] = loan_amt_sum

In [31]:
term_to_loan_amnt_dict

{' 36 months': 7752507375.0, ' 60 months': 5341004575.0}

In [0]:
term_to_loan_amnt = pd.Series(term_to_loan_amnt_dict)

In [33]:
term_to_loan_amnt

 36 months    7.752507e+09
 60 months    5.341005e+09
dtype: float64

In [0]:
total_status_category = df2["loan_status"].unique()
bad_status_category = total_status_category[[1,3,4,6,8]]

In [35]:
bad_status_category

array(['Charged Off', 'Default', 'Late (31-120 days)',
       'Late (16-30 days)',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [0]:
df2["bad_loan_status"] =df2["loan_status"].isin(bad_status_category)

In [37]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term  bad_loan_status
0     5000.0   Fully Paid     B     10.65   36 months            False
1     2500.0  Charged Off     C     15.27   60 months             True
2     2400.0   Fully Paid     C     15.96   36 months            False
3    10000.0   Fully Paid     C     13.49   36 months            False
4     3000.0      Current     B     12.69   60 months            False

In [0]:
bad_loan_status_to_grade = df2.loc[df2["bad_loan_status"] == True, "grade"].value_counts()

In [41]:
bad_loan_status_to_grade

C    17167
D    14454
B    12216
E     8837
F     4029
A     3298
G     1175
Name: grade, dtype: int64

In [42]:
bad_loan_status_to_grade.sort_index()

A     3298
B    12216
C    17167
D    14454
E     8837
F     4029
G     1175
Name: grade, dtype: int64

In [44]:
df2["loan_amnt"].corr(df2["int_rate"])

0.14502309929883933

In [45]:
bad_loan_status_to_grade

C    17167
D    14454
B    12216
E     8837
F     4029
A     3298
G     1175
Name: grade, dtype: int64

In [46]:
bad_loan_status_to_grade.to_csv("bad_loan_status.csv", sep=",")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.